<table class="table table-hover list-issues">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Assignee</th>
            <th>Category</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="bug in Issues.bugs | orderBy:'id' | filter:searchfilters">
            <td class="issue-id">{{bug.id}}</td>
            <td class="issue-description">{{bug.description}}</td>
            <td class="issue-assignee issue-attribute"><span class="link" ng-click="updateFilters('assignee', bug.assignee)">{{bug.assignee}}</a></td>
            <td class="issue-category issue-attribute"><span class="link" ng-click="updateFilters('category', bug.category)">{{bug.category}}</a></td>
            <td class="issue-project issue-attribute"><span class="link" ng-click="updateFilters('project', bug.project)">{{bug.project}}</a></td>
        </tr>
    </tbody>
</table>